<head>
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans|Noto+Serif+KR&display=swap" rel="stylesheet">

</head>
<body>
    

{% extends 'base.html' %}

{% block content %}
    
 
<div>  
        <br>
        <br>
        <div class="container">
            <form action="{% url 'create' %}">
                <h4>제목: </h4>
                <input type="text" name="title">
                <br>
                <br>
                <h4>본문: </h4>
                <textarea name="body" cols="40" rows="10"></textarea>
                <br>
                <br>
                <input class="btn btn-dark" type="submit" value="제출하기">
            </form>
        </div>
</div>        
{% endblock %}    


</body>